.slide-out-div {
    position: relative;
    /* height: 4em; */
    /* top: -4em; */
    top: -1em;
    overflow: hidden;
    display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   /* -webkit-line-clamp: 3;
           line-clamp: 3;  */
   -webkit-box-orient: vertical;
    
}