/* MOBILE: GRID Display */

/* navbar positioning */
.navbar {
	top: 0;
	position: sticky;
	display: flex;
	width: 100%;
	height: 6vh;
	background: var(--main-bg-color);
	padding: 0 0 max(0.5vh, 5px) 0;
	z-index: 99;
}

/* navbar scroll functionality */
.scrolled-down {
	transform: translateY(-100%);
	transition: all 0.3s ease-in-out;
}

.scrolled-up {
	transform: translateY(0%);
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 8px 16px 0px var(--drop-shadow-color);
}

.scrolled-top {
	box-shadow: none;
	border-bottom: 1px solid var(--grey-border-color);
	/* border-bottom: 1px solid var(--light-grey-border-color); */
	transition: all 0.3s ease-in-out;
}

/* menu sections: grid display (3 cols, 2 rows) */
.nav-menu-list {
	display: inline-grid;
	width: 100%;
	padding-left: 0;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: repeat(3, 1fr);
	justify-items: left;
	margin: 0;
}

.nav-menu-list>li {
	display: inline;
	/* font-family: 'Roboto Condensed'; */
	margin: 0;
	padding: 10px 0px 5px 10px;
	transition: all 0.2s ease;
	font-size: 24px;
	opacity: 0.75;
}

.nav-menu-list>li:hover {
	color: var(--light-black);
	opacity: 1;
	cursor: pointer;
	/* background-color: var(--light-grey-hover-color); */
}

.nav-menu-list>li>a,
.nav-brand-link {
	transition: all 0.2s ease;
	opacity: 1;
	text-decoration: none;
	color: var(--light-black)
}

.mobile-menu-burger-div {
	position: absolute;
	top: 0.2vh;
	left: 0.2vh;
	width: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* nav brand */
.nav-menu-div,
.nav-brand-div,
.nav-brand-link,
.mobile-menu-burger-div {
	height: 6vh;
}

.nav-menu-div {
	display: flex;
	margin: auto;
	justify-content: center;
}

.nav-brand-div {
	/* position: absolute;
	top: 1.5vh;
	left: 1vw; */
	padding-left: 0vh;
	margin-left: auto;
	margin-right: auto;
}

.nav-brand-link {
	display: flex;
	margin: auto;
	/* justify-content: end; */
	align-items: center;
}

.nav-brand-link:hover {
	opacity: 0.8;
}

.brand-text-div,
.brand-img-div {
	display: inline-block;
	height: 3vh;
}

.brand-text-div {
	width: fit-content;
	min-width: 180px;
	max-width: 270px;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	vertical-align: middle;
}

.brand-img-div {
	vertical-align: middle;
}

.brand-text {
	display: inline;
	color: var(--light-black);
	font-family: 'BentonSans';
	/* margin: 0 2rem 0px 2rem; */
	font-size: 1.8em;
	font-weight: 500;
	transition: font 1s ease;
}

.brand-img {
	height: 6vh;
	max-height: 45px;
	width: auto;
}

/* subscribe btn */
.nav-subscribe-div {
	position: static;
	display: flex;
	width: 100%;
	top: 1.5vh;
}

.nav-subscribe-div>a {
	margin-left: auto;
	margin-right: auto;
}

#subscribe-btn {
	border-color: black;
	border-width: 2px;
}

/* mobile anav menu */
.nav-menu-div-mobile {
	position: absolute;
	top: 6vh;
	width: 100%;
	background: var(--main-bg-color);
}

/* DESKTOP: Flex */
@media screen and (min-width: 1024px) {

	/* center menu sections */
	.navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0 min(1.8vh, 15px) 0;
	}

	/* position logo absolutely on desktop */
	.nav-brand-div {
		position: absolute;
		top: 0;
		padding-left: 0vh;
		left: 1vw;
	}

	/* reduce height since 1 row */
	.nav-menu-div,
	.nav-subscribe-div,
	.nav-brand-div {
		height: min(4.5vh, 50px);
	}

	.nav-subscribe-div {
		position: absolute;
		top: 1.5vh;
		right: 1vw;
		width: auto;
	}

	.nav-subscribe-div>a {
		margin-left: 0;
		margin-right: 0;
	}

	#subscribe-btn{
		border-width: 0;
	}

	.nav-menu-div {
		display: flex;
		justify-content: center;
		vertical-align: middle;
		align-items: center;
		padding-top: 1vh;
	}

	/* .nav-menu-div, */
	.nav-menu-list {
		display: inline;
		padding-top: 0;
	}

	/* .nav-menu-list{
		display: flex;
		justify-content: space-between;
	} */

	.nav-menu-list>li {
		padding: 0vh 2vh 0vh 2vh;
		font-size: 20px;
	}

	/* larger logo font & image for desktop */
	.brand-text {
		font-size: 2em;
	}

	.brand-img {
		max-height: 50px;
	}

	.brand-img-div {
		vertical-align: middle;
		padding-left: 1rem;
	}
}