@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

html {
  overflow-y: scroll; /* Ensures scrollbar is always visible */
}

body{
  margin: 0; /* Removes default margin to avoid layout issues */
  background-color: #FDFBF8;
}