.containerScrollspy {
	position: fixed;
	/* position: sticky; */
	top: 30vh;
	width: 10%;
	padding-left: 5vw;
}

#articleScrollspy {
	background-color: transparent;
	display: flex;
	flex-direction: column;
}

.presHeader {
	clear: both;
}

.presHeaderInline {
	display: inline;
}

/* mobile-only */
@media screen and (max-width: 768px) {
	.containerScrollspy {
		display: none;
	}
}

.scrollspyLink {
	display: block;
	text-decoration: none;
	color: var(--light-black);
	font-family: 'Roboto Condensed';
	font-size: large;
	padding: 0.5em 0.5em;
	border-radius: 10px;
}

.scrollspyLink:hover,
.navLink:hover {
	cursor: pointer;
	color: var(--light-black);
	background-color: var(--light-grey-hover-color);
}