/* mobile-first */
.newsletter-div {
    padding: 0.5em 1em 1.5em;
    background-color: rgb(242, 242, 242);
    border: solid var(--light-black) 1px;
    border-radius: 8px;
}

/* desktop only */
@media screen and (min-width: 1024px) {
    .newsletter-div {
        width: fit-content;
    }
}