/* mobile-first */
#pig-home-icon,
#home-arrow-icon {
    position: fixed;
    width: 20vw;
    height: auto;
}


#pig-home-icon {
    margin-left: -2vw;
    top: 1vw;
    left: 0vw;
    transition: 0.4s ease-in;
}

#home-arrow-icon {
    top: 8vw;
    left: 15vw;
}

#starting-faucet-div {
    height: 70vh;
}


.part-div {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    /* padding-top: 5vh; */
}

#title-header {
    font-family: 'Baskerville';
    color: rgb(103, 100, 100);
    position: absolute;
    top: 55vh;
    right: 10vw;
    padding-left: 10vw;
    /* left: 30vw; */
}

.sub-header {
    /* font-family: 'Monaco'; */
    color: rgb(49, 48, 48);
}

.portfolio-hr {
    border: none;
    /* border-color: black; */
    outline: black dashed 1px;
}

/* icons */
.portfolio-icon {
    height: 6vh;
    width: auto;
}

.medium-icon {
    width: 80%;
    height: auto;
}

.grow-icon {
    transition: 1.5s ease-out;
}

.grow-icon:hover {
    transform: scale(5);
}

#pen-icon {
    transition: 1.5s ease-in-out;
}

#pen-icon:hover {
    transform: rotate(1080deg);
}

.inspo-logo {
    height: 4vh;
    width: auto;
}

/* images */
.med-img {
    width: 80%;
    height: auto;
}

/* texts */
.miniature-text {
    margin: 0;
    font-size: smaller;
}

.miniest-text {
    font-size: x-small;
}


/* .moving-image-thumbnail, */
.art-thumbnail {
    max-width: 10vw;
    height: auto;
    pointer-events: none;
    /* transition: 0.7s ease-in-out; */
    /* transition-delay: 0.04s; */
}

/* grids */
.baby-grid,
.art-grid,
.inspo-grid {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 2rem;
}

.baby-grid {
    grid-template-rows: repeat(2, 1fr);
}

.baby-grid>div,
.art-grid>div {
    padding: 1rem 2rem;
    border: 1px grey solid;
    border-radius: 2px;
}

/* art section */
.draggable-art {
    width: 10vw;
    height: 10vw;
    margin: 1px;
    /* padding: 10px; */
    float: left;
}

/* viz grid section */
#me-container-div {
    /* background: linear-gradient(to bottom, #FDFBF8, #ffe8c5); */
    background: linear-gradient(to bottom, #FFF, #fff0da, #f0c788);
    /* background: linear-gradient(to bottom, #FFF, #fff0da, #f0c788, #e6735c, #c9492f); */
    background-size: 100%;
    background-repeat: no-repeat;
}

.viz-gallery-navigation-div {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.viz-grid-div {
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
}

.viz-grid-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 4fr 6fr 1fr; */
    background-color: aquamarine;
    margin: 1vw;
}

.viz-grid-card-desc-div {
    padding: 2vw;
    font-size: smaller;
    text-align: left;
}

.viz-grid-card-source-div {
    text-align: center;
}

.viz-grid-img {
    width: 80vw;
    height: auto;
    outline: 1px black solid;
    transition: 0.3s ease-in-out;
}

.viz-grid-img:hover {
    transform: scale(1.05);
}

/* project section */
.project-img,
.pub-img {
    width: 80%;
    height: auto;
}

.portfolio-section {
    margin: 1vh;
    padding: 1vh 2vh;
    background-color: gainsboro;
    /* display: grid; */
}

/* inspo section */
.inspo-grid-div {
    display: flex;
}

/* bonus section */
.mm-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
}

.mm-gif {
    width: 30vw;
    /* width: 44vw; */
    height: auto;
    /* height: 26.56vw; */
    margin: 0.2vw;
}

.mm-gif-large {
    width: 80vw;
    height: auto;
}

.mm-item {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* desktop */
@media screen and (min-width: 1024px) {

    #pig-home-icon,
    #home-arrow-icon {
        position: fixed;
        width: 4vw;
        height: auto;
    }


    #pig-home-icon {
        margin-left: -2vw;
        top: 1vw;
        left: 0vw;
        transition: 0.4s ease-in;
    }

    #pig-home-icon:hover {
        left: 1vw;
    }


    #home-arrow-icon {
        top: 2vw;
        left: 2vw;
    }


    #starting-faucet-div {
        height: 100vh;
    }

    .part-div {
        min-height: 100vh;
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
        /* padding-top: 5vh; */
    }

    #hover-reminder-icon {
        width: 16vw;
        height: auto;
        position: absolute;
        top: 74vh;
        right: 10vw;
        transform: rotate(5deg);
        transition: transform 0.2s ease-in-out;
    }

    #hover-reminder-icon:hover {
        transform: rotate(12deg);
        animation: shake 0.4s infinite alternate;
    }

    #title-header {
        font-family: 'Baskerville';
        color: rgb(103, 100, 100);
        position: absolute;
        top: 60vh;
        right: 10vw;
        padding-left: 0;
    }

    .baby-grid,
    .art-grid,
    .inspo-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .draggable-art {
        width: 3vw;
        height: 3vw;
        margin: 10px;
        /* padding: 10px; */
        float: left;
    }

    .art-thumbnail {
        max-width: 3vw;
        height: auto;
        pointer-events: none;
        /* transition: 0.7s ease-in-out; */
        /* transition-delay: 0.04s; */
    }

    /* .floating-graf {
        margin-top: 30vh;
    } */
    /* projects section */
    .projects-grid-div {
        display: grid;
        align-content: end;
        grid-template-columns: repeat(3, 1fr);
        /* background-color: #343332; */
        gap: 1vw;
    }

    .project-div:hover {
        background-color: var(--light-grey-hover-color);
    }

    .project-img,
    .pub-img {
        height: 25vh;
        width: auto;
    }

    .med-img {
        height: 40vh;
        width: auto;
    }

    .medium-icon {
        height: 50vh;
        width: auto;
    }

    .viz-grid-card {
        flex: 1;
        display: grid;
        grid-template-columns: 4fr 6fr 1fr;
        background-color: aquamarine;
        margin: 1vw;
        padding: 1vw;
        height: 30vh;
    }

    .viz-grid-img {
        height: 30vh;
        width: auto;
        outline: 1px black solid;
        transition: 0.3s ease-in-out;
    }

    /* bonus */

    .mm-item {
        width: 17vw;
    }

    .mm-gif {
        width: 17vw;
        height: auto;
    }

    .mm-gif-large {
        height: 80vh;
        width: auto;
    }
}